body {
	background: white;
	color:black;
	font-family: 'Karla', sans-serif; 
	font-size: 16px;
	max-width: 100%;
}

img {
	max-width: 100%;
}

.headerimg{
	margin-top: 4em;
}

a, a:visited {
	text-decoration: none;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;    
    transition: all 0.3s;
}

a:hover {
	color:#D17B75;
	text-decoration: none;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;    
    transition: all 0.3s;
}

 nav a.active {
	background-color:#CA9B2C;
	color:#fff;
	text-decoration: none;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;    
    transition: all 0.3s;
}

h1 {
	font-family: Didot, Garamond, serif;
	font-size: 2.1em;
	line-height: 120%;
	font-weight: 700;
	margin:0em;
	padding: 0.4em 0.8em;
}
	
.main-nav, nav{
  	position: relative;
  	z-index: 150;}


.mainnav-scrolled, nav {
  	position: fixed;
  	width: 100%;
  	z-index: 150;
}

.nav-justified {
	font-size: 1.4em;
	padding-top: 4em;
	padding-bottom: 0.7em;
}

nav {
	background-color: white;
	padding: 0em;
	border-bottom: 2px solid #CA9B2C;
}

.navbar-header {
	padding-left: 0em;
}

.navbar-toggle{
	padding-top:0.8em;
	width:3.2em;
	padding-bottom: 1em;
}

.navbar-collapse.in {
    overflow-y:visible;
}

.navbar-toggle .icon-bar {
	margin-top: 0.2em;
	width:1.8em;
	height:6px;
}

.navbar-brand {
	padding: 0.5em 1em;}


.nav>li>a {
	color:#CA9B2C;
	border: 3px solid transparent;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;    
    transition: all 0.3s;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: #CA9B2C;
	border: 3px solid #CA9B2C;
	color:white;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;    
    transition: all 0.3s;
}

.nav>li>a.active {
	background-color: transparent;
	border: 3px solid white;
	color:white;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;    
    transition: all 0.3s;
}

nav span {
	background-color:#CA9B2C;
}

h2 {
	font-weight: 700;
	line-height: 130%;
	letter-spacing: 1px;
	padding-left: 0px;
}

.homesection button {
	background-color:#72384B;
	border:none;
	height:auto;
	padding: 9px 15px;
	font-family: Didot, Garamond, serif;
	color:#fff;
	font-size: 24px;
	letter-spacing: 0.5px;
	margin-bottom: 2em;
	text-decoration: none;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;    
    transition: all 0.3s;
}

.homesection button a, a:hover{
	color:#fff;
	text-decoration: none;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;    
    transition: all 0.3s;
}

.homesection button:hover {
	background-color:#D17B75;
	text-decoration: none;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;    
    transition: all 0.3s;
}

::selection {
	color:white;
	background-color: #D17B75;
}


#label {
    width: 25px;
    margin-left: 10px;
    z-index: 20;}

#input {
    position: absolute;
    margin-top: 0.6em;
    top:0px;
    left: 45px;
    width: 300px;
    height: 60px;
    z-index: 5;
    overflow: hidden;
}

input {
    display: block;
    position: absolute;
    margin: 0;
    border: none;
    border-bottom: 2px solid #CA9B2C;
    color: #000;
    font-size: 1em;
    backface-visibility: none;
    border-radius: 0;
    transition: left 0;
}

#input input:focus {
    outline: none
}
#input.focus {
    z-index: 20;
}
#input.focus input {
    left: 0;
    transition: left 0.3s;
}

.discovermore{
	background-color: #D17B75;
	color: white;	
	padding: 1.7em 0em;
}

.discovermore h3 {
	font-family: Didot;
	font-size: 2.2em;
	margin-left: 2.5em;
	margin-bottom: 0.7em;
}

.discovermore h6 {
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}

.discovermore img{
	border-radius: 50%;
}

.discovermore li {
	margin-bottom: 0.8em;
}

#discovermore a:hover {
	color:#72384B;
}



.recipetop input {
	margin-left: -25px;
	max-width: 100%;
    height: 60px;
    border: 4px solid #889A64;
}

.dropdown {
	padding-top: 3em;
	margin: 2em 0em;}


.dropdown select {
	font-size: 1.2em;
	width: auto;
	margin-left: 8px;
	padding: 2em;
	border: 2px solid #889A64;
	border-radius: 0%;
}


.recipesindex h6 {
	font-family: Didot;
	font-size: 1.6em;}

.recipesindex li {
	margin-bottom: 2.5em; 
}

.recdesc{
	padding:0.6em 0em;
	padding-left: 1em;
	background-color: #EDEAE6;
}




footer {
	text-align: center;
	background-color:#444444;
	color: white;
	padding-top: 4em;
	padding-bottom: 4em;
	padding-left: 2em;
}

footer a{
	color: white;
}

footer a:hover{
	color: #ccc;
}

footer img {
	padding-bottom: 1em;
}

.social img {
	display: block;
	float:left;
	margin-right: 10px;
	width: 40px;
}

.footerlogo {
	padding-left: 0.5em;
}

.homesection{
		text-align: center;
	}

.secondsec {
		padding: 0em;
		margin: 0em;
	}

.secondsec img{
		float:right;
	}

.pastainfo h3 {
	font-family: Didot, Garamond, serif;
	font-weight: 700;
	font-size: 2.3em;
	color:#72384B;
}


.ingredients {
	margin-top: 2em;
	border-radius: 0.7em;
	background-color: #ECE9E5;
	font-family: Didot, Garamond, serif;
	padding: 1.5em;
	line-height: 170%;
}

.ingredients h5{
	text-transform: uppercase;
	font-family: Karla, arial, sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	letter-spacing: 1px;
	color: #889A64;
}

#recipephoto img{
	margin-top: 2em;
}



.recipetext {
	padding: 1.5em 0.8em;
	font-size: 1.2em;
	line-height: 160%;
}

.recipetext img{
	margin: 1.6em 0em;
}

#recipebox {
	padding: 1.4em;
}

#recipebox h6{
	font-weight: 700;
	margin-bottom: 0.8em;
	margin-top: 0em;
	font-size: 1.4em;
	font-family: Didot, Garamond, sans-serif;
	color: #72384B;
}

#recipebox a{
	background-color: #72384B;
	margin-right:5px;
	color: #fff;
	padding: 0.5em;
	letter-spacing: 1px;
}

.comment {
	font-size: #72384B;

}

.comment input, textarea {
	padding: 0.5em;
	font-size: 1.2em;
	margin-left: 0.9em;
	border: 2px solid #72384B;
	margin-bottom: 1.3em;
}

.searchtop {
	margin-top: 7em;
}

.searchtop input {
	margin-left: -18px;
	font-size: 1.2em;
	color: black;
	max-width: 100%;
    height: 63px;
    border: 4px solid #889A64;
    }


.searchheader {
	font-family: Didot, Garamond, serif;
	font-size: 2em;
	text-align: center;
	line-height: 130%;
}

.searchdesc {
	padding-top: 0.4em;
	padding-left: 0em;
}

.ratingsearch {
	padding-left: 2em;
}

.searchresults h6{
	font-family: Didot, Garamond, serif;
	font-size: 1.5em;
	text-align: center;
	line-height: 130%;}

.searchresults li{
	margin-bottom: 2em;
}

.searchdropdown{
	padding-top: 3em;
	padding-bottom: 2em;
}

.searchdropdown select {
	font-size: 1.2em;
	width: auto;
	margin-left: 8px;
	padding: 2em;
	border: 2px solid #889A64;
	border-radius: 0%;
}











@media (min-width: 769px){

	h1{
	color: white;
	font-size: 2.8em;}

	.headerimg{
	margin-top: 1em;
}


	.webheader h1 {
		width: 15em;
		margin-top: -15em;
		line-height: 120%;
		margin-bottom: 11.85em;
	}

	.homesection{
		text-align: center;
		padding-top: 9em;
	}

	.secondsec {
		padding: 0em;
		margin: 0em;
	}

	.secondsec img{
		float:right;
	}


footer {
	padding:5em 0em;
}

footer img{
	padding:0.56em 0em;
}

.backtop {
	padding-left:73px;
}

.footerlogo {
	padding-left: 48px;
}

.social {
	padding-left: 74px;
}

.footerlinks {
	padding-top:0.6em;  
}

.social img {
	display: block;
	float:left;
	margin-right: 10px;
	width: 35px;

}

	.discovermore{
	margin-right: 0em;
	margin-left: 0em;
	background-color: #D17B75;
	color: white;	
	padding: 5em 4em;}

	.discovermore h3 {
	text-align: center;
	font-size: 2.7em;
	padding-bottom: 0.2em;
	margin-left: 0em;}


	.navbar-brand {
		padding: 0.6em 2.5em;
		left:-15px;
	}

	.navbar-collapse {	
		width: 100%;
	}

	.nav>li>a { 
		padding: 0.8em 4em;
		height: 100%;}

	.nav>li {
		width: 10em;
		padding-left: 1em;
	}

	.nav-justified {
	font-size: 1em;
	padding-top: 0.2em;
	}

	#label {
    width: 20px;
    z-index: 20;
	margin-left: 0px;}

	#input {
    margin-top: 0.9em;
	}


.recipetop h1 {
	margin-top: -14.5em;
	text-align: center;
}

.recipetop input {
	margin-left: -35px;
	max-width: 100%;
    height: 60px;
    border: 4px solid #889A64;}

.recdesc{
	height: 8em;}

.dropdown {
	margin-top: 30em;}


.ingredients {
	margin-left: 0em;
}

.pastainfo h3 {
	font-size: 3em;
}

.pastainfo {
	margin-top: 1.3em;
}


aside {
	padding-left:0px;
}

#recipebox {
	padding-left: 30px;
	margin-bottom: 0.6em;
	margin-top: 1em;
}

.avocadotitle {
	padding-bottom: 1em;
}

.avocadotitle img{
	padding-left: 0em;
	margin-left: 1.2em;
}


.searchtop input {
	margin-left: -15px;
	max-width: 100%;
    height: 56px;
    border: 4px solid #889A64;
}



}



